<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="title" content="Skye Bot!">
    <meta name="description" content="Skye is a great All-In-One bot that has Moderation tools, Games, Fun commands and more! ">
    <meta name="keywords" content="Skye, Skye bot, skye bot, bot, discord bot, bot, discord, skye discord, discord skye bot, callimarie, calli bot, callimarie bot, sawsha, sawshadev, moderation bot, fun bot, game bot">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Callimarie">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&display=swap" rel="stylesheet">
    <title>Skye Official Website!</title>
    <link rel="stylesheet" href="/static/style.css"/>
    <style>
    a{color:gray;}
        body {
            word-wrap: break-word;
        }
        span {
            display: flex;
        }
    </style>
    <style>body{background-color:#333333}</style> <!--The Stylesheet loads after the HTML, making the page show a white flash at the start-->
</head>
<body>
    <div id="side-bar">
        <a href="/">Home</a>
        <a href="/commands/">Commands</a>
        <a href="/FAQ/" id="selected">FAQ</a>
        <a href="/contact/">Contact</a>
    </div>

    <div id="main-content">
	    <img src="/static/image.png" style="height:25vh;min-height:150px;max-height:500px;border-radius:100%;" />
        <h1>FAQ</h1>
        <p>To clear up common questions</p>
        <br />
        <div id="faq-format" style="width:90%;">
            <span>Why cant the prefix just be 1 letter??</span>
            <p>-Hey genius, you can change it, read the <b><a href="/commands">Commands</a></b> page</p>
            <br /><br />
            
	    <span>What is its uptime?</span>
            <p>-It's gonna be up 24/7, sometimes it'll be down for about 2 seconds to apply a patch, or for a day if there's a serious bug.</p>
            <br /><br />
            <span>Why should I use this bot, I have Dank Memer, the funny epic bot!!!</span>
            <p>-Okay, take a moderation bot, fun bot and a music bot. That's 3 bots clogging up your Member List! Servers with 20 Bots dont look all that great. So have it all in one!</p>
            
	    <span>Does this bot do loggin?</span>
	    <p>-Indeed, skye does do Logging! it has image, video, gif, and message logging!</p>

	    <span>How do I invite it?</span>
            <p>-You can use the <b>Invite</b> command or the <b><a href="/invite">Invite Link</a></b>.</p>
        </div>
        
    </div>

</body>
	</html>
